openapi: 3.0.3
info:
  title: CardZero API
  version: 1.1.0
  description: |
    CardZero is a universal payment wallet for AI Agents on Base (Coinbase L2).
    Each Agent gets an on-chain smart contract wallet funded with USDC.
    Owners set spending rules; Agents pay within those rules.

    **Base URL:** `https://api.cardzero.ai`

    **Authentication:**
    - **JWT** — For wallet owners (Dashboard). Obtained via `/auth/claim` or `/auth/login`.
    - **API Key** — For Agents. Format: `czapi_{prefix}_{secret}`. Bound to a single wallet.

    Both are passed as `Authorization: Bearer <token>`.
  contact:
    name: CardZero Support
    url: https://cardzero.ai
  license:
    name: Proprietary

servers:
  - url: https://api.cardzero.ai/v1
    description: Production (Base Mainnet)

tags:
  - name: Auth
    description: Registration, login, password management
  - name: Wallets
    description: Wallet creation, configuration, and management
  - name: Payments
    description: USDC payments and transaction history
  - name: x402
    description: x402 protocol payments for HTTP resources

paths:
  /wallets:
    post:
      tags: [Wallets]
      summary: Create a new wallet (lazy, zero gas)
      description: |
        Off-chain operation. Returns a deterministic wallet address (CREATE2)
        and a one-time claim key. No authentication required.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Optional display name
                  example: my-agent-wallet
      responses:
        '201':
          description: Wallet created (pending claim)
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: wallet_7370ee785775
                  chainAddress:
                    type: string
                    example: "0xa1f2...70D0"
                  claimKey:
                    type: string
                    example: czk_a1b2c3d4e5f6g7h8_secret...
                  name:
                    type: string
                    example: my-agent-wallet
                  status:
                    type: string
                    enum: [pending]
    get:
      tags: [Wallets]
      summary: List wallets for current owner
      security:
        - BearerJWT: []
      responses:
        '200':
          description: List of wallets
          content:
            application/json:
              schema:
                type: object
                properties:
                  wallets:
                    type: array
                    items:
                      $ref: '#/components/schemas/Wallet'

  /wallets/{walletId}:
    get:
      tags: [Wallets]
      summary: Get wallet details
      security:
        - BearerJWT: []
      parameters:
        - $ref: '#/components/parameters/walletId'
      responses:
        '200':
          description: Wallet details with optional summary
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Wallet'
                  - type: object
                    properties:
                      summary:
                        type: string
                        description: Plain-text wallet summary for Agent context

  /wallets/{walletId}/balance:
    get:
      tags: [Wallets]
      summary: Query USDC balance
      security:
        - BearerJWT: []
        - BearerApiKey: []
      parameters:
        - $ref: '#/components/parameters/walletId'
      responses:
        '200':
          description: Current balance
          content:
            application/json:
              schema:
                type: object
                properties:
                  walletId:
                    type: string
                  balance:
                    type: string
                    example: "142.50"
                  currency:
                    type: string
                    example: USDC

  /wallets/{walletId}/config:
    patch:
      tags: [Wallets]
      summary: Update spending rules (on-chain)
      security:
        - BearerJWT: []
      parameters:
        - $ref: '#/components/parameters/walletId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                txLimit:
                  type: string
                  description: Max USDC per transaction
                  example: "5.00"
                dailyLimit:
                  type: string
                  description: Max total USDC per day
                  example: "50.00"
                expiresAt:
                  type: integer
                  description: Unix timestamp for policy expiry
                whitelist:
                  type: array
                  items:
                    type: string
                  description: Allowed recipient addresses
      responses:
        '200':
          description: Config updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  walletId:
                    type: string
                  status:
                    type: string
                    example: updated

  /wallets/{walletId}/name:
    patch:
      tags: [Wallets]
      summary: Rename wallet
      security:
        - BearerJWT: []
      parameters:
        - $ref: '#/components/parameters/walletId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 50
                  example: My Trading Agent
      responses:
        '200':
          description: Wallet renamed
          content:
            application/json:
              schema:
                type: object
                properties:
                  walletId:
                    type: string
                  name:
                    type: string

  /wallets/{walletId}/freeze:
    post:
      tags: [Wallets]
      summary: Freeze wallet (block all payments)
      security:
        - BearerJWT: []
      parameters:
        - $ref: '#/components/parameters/walletId'
      responses:
        '200':
          description: Wallet frozen
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: frozen

  /wallets/{walletId}/unfreeze:
    post:
      tags: [Wallets]
      summary: Unfreeze wallet
      security:
        - BearerJWT: []
      parameters:
        - $ref: '#/components/parameters/walletId'
      responses:
        '200':
          description: Wallet unfrozen
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: active

  /wallets/{walletId}/api-key:
    get:
      tags: [Wallets]
      summary: Get API Key (decrypted)
      description: Returns the full API Key for this wallet. Owner only.
      security:
        - BearerJWT: []
      parameters:
        - $ref: '#/components/parameters/walletId'
      responses:
        '200':
          description: API Key plaintext
          content:
            application/json:
              schema:
                type: object
                properties:
                  apiKey:
                    type: string
                    example: czapi_a1b2c3d4_secret...
                  walletId:
                    type: string

  /wallets/{walletId}/api-key/rotate:
    post:
      tags: [Wallets]
      summary: Rotate API Key
      description: Generate a new API Key. Old key is immediately revoked.
      security:
        - BearerJWT: []
      parameters:
        - $ref: '#/components/parameters/walletId'
      responses:
        '200':
          description: New API Key
          content:
            application/json:
              schema:
                type: object
                properties:
                  apiKey:
                    type: string
                  walletId:
                    type: string
                  message:
                    type: string

  /auth/claim:
    post:
      tags: [Auth]
      summary: Claim a wallet (register + deploy)
      description: |
        Deploy wallet on-chain and create owner account.
        If JWT is present, binds wallet to existing account (no username/password needed).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [claimKey]
              properties:
                claimKey:
                  type: string
                  example: czk_lookup_secret
                username:
                  type: string
                  description: Required for new users (3-20 chars, alphanumeric + underscore)
                password:
                  type: string
                  description: Required for new users (min 8 chars)
      responses:
        '201':
          description: Wallet claimed
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: JWT (new users only)
                  userId:
                    type: string
                  walletId:
                    type: string
                  walletAddress:
                    type: string
                  agentConfig:
                    type: object
                    properties:
                      apiKey:
                        type: string
                      walletId:
                        type: string

  /auth/login:
    post:
      tags: [Auth]
      summary: Login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username, password]
              properties:
                username:
                  type: string
                password:
                  type: string
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                  userId:
                    type: string

  /auth/change-password:
    post:
      tags: [Auth]
      summary: Change password
      security:
        - BearerJWT: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [oldPassword, newPassword]
              properties:
                oldPassword:
                  type: string
                newPassword:
                  type: string
                  minLength: 8
      responses:
        '200':
          description: Password changed
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: password_changed

  /payments:
    post:
      tags: [Payments]
      summary: Make a USDC payment
      description: |
        Wallet ID is derived from the API Key — do NOT include it in the body.
        A 2% fee is deducted separately. Session keys are managed automatically.
      security:
        - BearerApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [to, amount, currency]
              properties:
                to:
                  type: string
                  description: Recipient address (0x-prefixed)
                  example: "0x1234567890123456789012345678901234567890"
                amount:
                  type: string
                  description: USDC amount
                  example: "5.00"
                currency:
                  type: string
                  enum: [USDC]
                memo:
                  type: string
                idempotencyKey:
                  type: string
                  description: Prevents duplicate payments on retry
      responses:
        '201':
          description: Payment confirmed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResult'

  /payments/{paymentId}:
    get:
      tags: [Payments]
      summary: Get payment status
      description: No authentication required. Payment IDs are unguessable.
      parameters:
        - name: paymentId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Payment details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'

  /wallets/{walletId}/payments:
    get:
      tags: [Payments]
      summary: List payment history
      security:
        - BearerJWT: []
        - BearerApiKey: []
      parameters:
        - $ref: '#/components/parameters/walletId'
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Payment list
          content:
            application/json:
              schema:
                type: object
                properties:
                  payments:
                    type: array
                    items:
                      $ref: '#/components/schemas/Payment'

  /x402/pay:
    post:
      tags: [x402]
      summary: Pay for x402-protected resource
      description: Used when Agent receives HTTP 402 Payment Required with x402 headers.
      security:
        - BearerApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url, maxAmount, recipient, network, asset]
              properties:
                url:
                  type: string
                  description: URL that returned 402
                maxAmount:
                  type: string
                  example: "1.00"
                recipient:
                  type: string
                  description: Merchant address from 402 response
                network:
                  type: string
                  example: "eip155:8453"
                asset:
                  type: string
                  description: USDC contract address
                idempotencyKey:
                  type: string
      responses:
        '201':
          description: x402 payment confirmed
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaymentResult'
                  - type: object
                    properties:
                      paymentHeader:
                        type: string
                        description: Base64 header for retry request
                      type:
                        type: string
                        example: x402

  /jobs:
    post:
      summary: Create a Job (ERC-8183 escrow)
      description: |
        Creates a Job that escrows USDC payment until a Provider delivers and an Evaluator approves.
        Sprint 9 MVP requires the Provider to be a CardZero wallet. Status starts as `open`.
        Fees: 2% platform + 5% evaluator (deducted on completion).
      tags: [Jobs]
      security:
        - BearerApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [providerAddress, budgetUsdc, expiredAt, title, description, evaluatorRule]
              properties:
                providerAddress:
                  type: string
                  example: "0xabc1234567890abcdef1234567890abcdef12345"
                budgetUsdc:
                  type: string
                  example: "10000000"
                  description: Budget in microUSDC (6 decimals). 10000000 = $10 USDC.
                expiredAt:
                  type: integer
                  description: Unix seconds. Min 86400 from now (1 day).
                  example: 1715000000
                title:
                  type: string
                  example: "Translate report to Japanese"
                description:
                  type: string
                  example: "Output JSON {translated: string}"
                evaluatorRule:
                  type: object
                  required: [type]
                  properties:
                    type:
                      type: string
                      enum: [manual, json_schema, http_check]
                    url:
                      type: string
                    expectedStatus:
                      type: integer
                    timeoutMs:
                      type: integer
                idempotencyKey:
                  type: string
      responses:
        "201":
          description: Job created
          content:
            application/json:
              schema:
                type: object
                properties:
                  jobId:
                    type: string
                    example: job_abc123def456
                  onchainJobId:
                    type: integer
                    example: 1
                  metadataHash:
                    type: string
                  createTxHash:
                    type: string

  /jobs/{jobId}:
    get:
      summary: Get Job state
      description: Public — Job state (status, txs, evaluation outcome). No auth.
      tags: [Jobs]
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Job details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'

  /jobs/{jobId}/fund:
    post:
      summary: Fund a Job (Client side)
      description: Locks budget USDC into escrow. Requires `open` status. Two on-chain UserOps (USDC.approve + Jobs.fund).
      tags: [Jobs]
      security:
        - BearerApiKey: []
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Funded
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: funded
                  fundTxHash:
                    type: string

  /jobs/{jobId}/submit:
    post:
      summary: Submit deliverable (Provider side)
      description: Posts deliverable hash on-chain; Evaluator auto-evaluates within minutes. Status funded → submitted.
      tags: [Jobs]
      security:
        - BearerApiKey: []
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [contentHash]
              properties:
                contentHash:
                  type: string
                  description: keccak256 of deliverable canonical content (0x + 64 hex)
                contentURI:
                  type: string
      responses:
        "200":
          description: Submitted
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: submitted
                  submitTxHash:
                    type: string

  /jobs/{jobId}/refund:
    post:
      summary: Claim refund for expired Job (Client side)
      description: Returns full budget to Client wallet. Only works after `expiredAt`.
      tags: [Jobs]
      security:
        - BearerApiKey: []
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Refunded
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: expired
                  refundTxHash:
                    type: string

components:
  securitySchemes:
    BearerJWT:
      type: http
      scheme: bearer
      description: JWT token from /auth/claim or /auth/login
    BearerApiKey:
      type: http
      scheme: bearer
      description: "API Key (format: czapi_{prefix}_{secret})"

  parameters:
    walletId:
      name: walletId
      in: path
      required: true
      schema:
        type: string
      example: wallet_7370ee785775

  schemas:
    Wallet:
      type: object
      properties:
        id:
          type: string
        user_id:
          type: string
        name:
          type: string
        chain_address:
          type: string
        status:
          type: string
          enum: [pending, active]
        frozen:
          type: integer
          enum: [0, 1]
        tx_limit:
          type: string
          nullable: true
        daily_limit:
          type: string
          nullable: true
        expires_at:
          type: integer
          nullable: true
        created_at:
          type: integer

    Payment:
      type: object
      properties:
        id:
          type: string
        wallet_id:
          type: string
        to_address:
          type: string
        amount:
          type: string
        type:
          type: string
          enum: [direct, x402]
        memo:
          type: string
          nullable: true
        status:
          type: string
          enum: [pending, confirmed, failed]
        tx_hash:
          type: string
          nullable: true
        fee_amount:
          type: string
          nullable: true
        fee_recipient:
          type: string
          nullable: true
        created_at:
          type: integer

    PaymentResult:
      type: object
      properties:
        paymentId:
          type: string
        status:
          type: string
          example: confirmed
        txHash:
          type: string
        remainingBalance:
          type: string
        amount:
          type: string
        to:
          type: string
        type:
          type: string
        feeAmount:
          type: string

    Job:
      type: object
      properties:
        id:
          type: string
        onchain_job_id:
          type: integer
          nullable: true
        client_wallet_id:
          type: string
        provider_wallet_id:
          type: string
        provider_address:
          type: string
        evaluator_address:
          type: string
        budget_usdc:
          type: string
          description: microUSDC (6 decimals)
        status:
          type: string
          enum: [open, funded, submitted, completed, rejected, expired]
        expired_at:
          type: integer
        metadata_uri:
          type: string
        metadata_hash:
          type: string
        deliverable_uri:
          type: string
          nullable: true
        deliverable_hash:
          type: string
          nullable: true
        evaluator_rule_type:
          type: string
          nullable: true
        evaluation_outcome:
          type: string
          nullable: true
        evaluation_reason:
          type: string
          nullable: true
        create_tx_hash:
          type: string
          nullable: true
        fund_tx_hash:
          type: string
          nullable: true
        submit_tx_hash:
          type: string
          nullable: true
        finalize_tx_hash:
          type: string
          nullable: true
        created_at:
          type: integer

    Error:
      type: object
      required: [error, message]
      properties:
        error:
          type: string
          description: Error code
        message:
          type: string
          description: Human-readable message
